# **Obtención y preparación de datos**

# OD14. Unión de Estructuras en Pandas

In [1]:
import numpy as np
import pandas as pd

## <font color='blue'>**Unión de series**</font>


Muchas veces nos encontramos con que los datos a analizar están repartidos entre dos o más bloques de datos, lo que nos obliga a unirlos.

## <font color='blue'>**Función concat**</font>

Un caso con el que nos encontramos con relativa frecuencia es aquel en el que queremos unir una serie a otra.

In [2]:
s = pd.Series([1, 2, 3, 4, 5], index = ["a", "b", "c", "d", "e"])
r = pd.Series([10, 11, 12], index = ["f", "g", "h"])

Si deseamos unir $r$ y $s$ en una nueva serie, podemos usar la función **pandas.concat**. Esta función permite especificar el eje a lo largo del cual unir los diferentes objetos (pueden ser series o dataframes). Por defecto, la concatenación se realiza a lo largo del eje 0.

In [3]:
t = pd.concat([s, r]) #no importa index
print(type(t))
t

<class 'pandas.core.series.Series'>

a     1
b     2
c     3
d     4
e     5
f    10
g    11
h    12
dtype: int64

El resultado es una serie.

In [4]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([10, 11, 12, 13, 14])
print(a)
print( )
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [5]:
s = pd.concat([a,b]) #en caso de tener el mismo index en cada Serie, duplica el index para mostrar el valor de las dos series
s

0     1
1     2
2     3
3     4
4     5
0    10
1    11
2    12
3    13
4    14
dtype: int64

In [6]:
s[s.index[0]]

0     1
0    10
dtype: int64

Si especificamos como eje de concatenación el eje 1, pandas alineará los valores con idénticas etiquetas. En el siguiente ejemplo, las series $a$ y $b$ tienen algunas etiquetas comunes (y otras no). El resultado incluye todas las etiquetas asignando el valor NaN ("Not a Number") a aquellos valores desconocidos.

In [7]:
pd.concat([a,b], axis = 1) #agrega una columna y crea un DataFrame

   0   1
0  1  10
1  2  11
2  3  12
3  4  13
4  5  14

In [8]:
type(pd.concat([a,b], axis = 1))

pandas.core.frame.DataFrame

Como puede observarse, el resultado es un dataframe.

Por otro lado, las etiquetas del índice no tienen por qué ser diferentes, de forma que si se estuviesen concatenando series con etiquetas comunes en sus índices, el resultado sería equivalente a los vistos hasta ahora.

In [9]:
s = pd.Series([1, 2, 3, 4], index = ["a", "b", "c", "d"])
r = pd.Series([10, 11, 12], index = ["a", "c", "e"])
print(s)
print( )
print(r)

a    1
b    2
c    3
d    4
dtype: int64

a    10
c    11
e    12
dtype: int64

In [10]:
pd.concat([s, r])

a     1
b     2
c     3
d     4
a    10
c    11
e    12
dtype: int64

En este ejemplo se han concatenado dos series que tienen dos etiquetas comunes ("a" y "c"), y se puede observar que las dos apariciones de cada una de ellas se incluyen en el resultado de la concatenación.

## <font color='blue'>**Método append**</font>

Otra alternativa es usar el método **pandas.Series.append**, versión simplificada de la función concat ya vista que devuelve la unión de la serie sobre la que se aplica con otra (u otras) series, pero solo a lo largo del eje 0.

In [11]:
a = pd.Series([1, 2, 3, 4, 5], index = ["a", "b", "c", "d", "e"])
b = pd.Series([10, 11, 12], index = ["f", "g", "h"])
print(a)
print( )
print(b)

a    1
b    2
c    3
d    4
e    5
dtype: int64

f    10
g    11
h    12
dtype: int64

In [12]:
c = a.append(b) #Con index
c

a     1
b     2
c     3
d     4
e     5
f    10
g    11
h    12
dtype: int64

Si el argumento **ignore_index** toma el valor True, se ignoran las etiquetas de las series.

In [13]:
c = a.append(b, ignore_index = True) #Ignora index
c

0     1
1     2
2     3
3     4
4     5
5    10
6    11
7    12
dtype: int64

## <font color='blue'>**Concatenación y unión de dataframes**</font>

Ésta es otra de las áreas en las que la variedad de opciones puede resultar confusa. A modo de resumen, digamos que pandas ofrece dos principales funciones con este objetivo: **pandas.concat** y **pandas.merge**.

* La función **concat** permite concatenar dataframes a lo largo de un determinado eje
* La función **merge** permite realizar uniones (joins) entre dataframes tal y como se realizan en bases de datos. Esta función también está disponible como método: **pandas.DataFrame.merge**

Hay una tercera función que está disponible solo como método: **pandas.DataFrame.append**. El método **append** ofrece una funcionalidad semejante a la de la función concat pero reducida. Así, por ejemplo, solo permite realizar concatenaciones a lo largo del eje 0 (es decir, verticalmente).

## <font color='blue'>**Función concat**</font>

La función **pandas.concat** es la responsable de concatenar dos o más dataframes (y de todas las estructuras proveídas por pandas) a lo largo de un eje, con soporte a lógica de conjuntos a la hora de gestionar etiquetas en ejes no coincidentes.

In [14]:
df1 = pd.DataFrame(np.arange(9).reshape([3, 3]),
                   index = ["a", "b", "d"],
                   columns = ["A", "B", "C"])
df1

   A  B  C
a  0  1  2
b  3  4  5
d  6  7  8

In [15]:
df2 = pd.DataFrame(np.arange(12).reshape([4, 3]),
                   index = ["a", "b", "c", "e"],
                   columns = ["B", "C", "D"])
df2

   B   C   D
a  0   1   2
b  3   4   5
c  6   7   8
e  9  10  11

Si pasamos a la función concat ambos dataframes como primer argumento (en forma de lista), obtenemos el siguiente resultado:

In [16]:
pd.concat([df1, df2]) #agrega filas y columnas, si no hay valores es NaN

     A  B   C     D
a  0.0  1   2   NaN
b  3.0  4   5   NaN
d  6.0  7   8   NaN
a  NaN  0   1   2.0
b  NaN  3   4   5.0
c  NaN  6   7   8.0
e  NaN  9  10  11.0

Por defecto, la concatenación se ha realizado a lo largo del eje 0 (eje vertical), uniendo los índices de fila de ambos dataframes, y alineando las columnas por su etiqueta. Los valores para los que no hay datos se han rellenado con NaN.

Si especificamos que la concatenación se realice a lo largo del eje 1 (eje horizontal), el resultado es el siguiente:

In [17]:
pd.concat([df1, df2], axis = 1)

     A    B    C    B     C     D
a  0.0  1.0  2.0  0.0   1.0   2.0
b  3.0  4.0  5.0  3.0   4.0   5.0
d  6.0  7.0  8.0  NaN   NaN   NaN
c  NaN  NaN  NaN  6.0   7.0   8.0
e  NaN  NaN  NaN  9.0  10.0  11.0

De modo semejante al primer ejemplo, se han introducido NaN's donde no había datos, y se han alineado las filas por su etiqueta.

Estos dos ejemplos vistos son tipo **"Outer"** (opción por defecto), considerando todas las etiquetas de los dos dataframes aun cuando no sean comunes a ambos. Pero si especificamos el argumento **join = "Inner"**, los resultados pasan a considerar solo las etiquetas comunes.

In [18]:
pd.concat([df1, df2], join = "inner") #Solo los casos que tengan las mismas columnas en ambos dataframe

   B   C
a  1   2
b  4   5
d  7   8
a  0   1
b  3   4
c  6   7
e  9  10

Incluye solo las columnas B y C comunes a ambos dataframes. Y para el segundo ejemplo tenemos:

In [19]:
pd.concat([df1, df2], axis = 1, join = "inner") #solo para los casos que los index coincidan

   A  B  C  B  C  D
a  0  1  2  0  1  2
b  3  4  5  3  4  5

Incluyendo solo las filas a y b comunes a ambos dataframes.

El parámetro **ignore_index** controla el índice a asignar al eje a lo largo del cuál se realiza la concatenación. Si este parámetro toma el valor False (por defecto), el eje de concatenación mantiene las etiquetas de los dataframes originales. Si toma el valor True, se ignoran dichas etiquetas y el resultado de la concatenación recibe un nuevo índice automático numérico.

In [20]:
pd.concat([df1, df2], axis = 1, join = "inner", ignore_index = True) #Reemplaza el nombre de columnas por un index numérico

   0  1  2  3  4  5
a  0  1  2  0  1  2
b  3  4  5  3  4  5

## <font color='blue'>**Método append**</font>

El método **pandas.DataFrame.append** es un atajo de la función concat que ofrece funcionalidad semejante pero limitada: no permite especificar el eje de concatenación (siempre es el eje 0) ni el tipo de "join" (siempre es tipo "Outer").

In [21]:
df1 = pd.DataFrame(np.arange(9).reshape([3, 3]),
                   index = ["a", "b", "d"],
                   columns = ["A", "B", "C"])
df1

   A  B  C
a  0  1  2
b  3  4  5
d  6  7  8

In [22]:
df2 = pd.DataFrame(np.arange(12).reshape([4, 3]),
                   index = ["a", "b", "c", "e"],
                   columns = ["B", "C", "D"])
df2

   B   C   D
a  0   1   2
b  3   4   5
c  6   7   8
e  9  10  11

In [23]:
df1.append(df2)

     A  B   C     D
a  0.0  1   2   NaN
b  3.0  4   5   NaN
d  6.0  7   8   NaN
a  NaN  0   1   2.0
b  NaN  3   4   5.0
c  NaN  6   7   8.0
e  NaN  9  10  11.0

Al igual que ocurría con la función **concat**, el parámetro ignore_index nos permite controlar las etiquetas que recibe el índice del resultado: las de los dataframes originales (con ignore_index = False, opción por defecto), o uno nuevo automático (con ignore_index = True).

In [24]:
df1.append(df2, ignore_index=True) #reemplaza index por una secuencia numérica

     A  B   C     D
0  0.0  1   2   NaN
1  3.0  4   5   NaN
2  6.0  7   8   NaN
3  NaN  0   1   2.0
4  NaN  3   4   5.0
5  NaN  6   7   8.0
6  NaN  9  10  11.0

## <font color='blue'>**Función Merge**</font>

La función **pandas.merge** nos permite realizar "joins" entre tablas. El join es realizado sobre las columnas o sobre las filas. En el primer caso, las etiquetas de las filas son ignoradas. En cualquier otro caso (joins realizado entre etiquetas de filas, o entre etiquetas de filas y de columnas), las etiquetas de filas se mantienen.

In [25]:
df1 = pd.DataFrame({
    "Mes": ["ene", "feb", "mar", "may"],
    "Ventas": [14, 8, 12, 17]
})
df1

   Mes  Ventas
0  ene      14
1  feb       8
2  mar      12
3  may      17

In [26]:
df2 = pd.DataFrame({
    "Mes": ["feb", "ene", "mar", "abr"],
    "Costos": [7, 6, 8, 5]
})
df2

   Mes  Costos
0  feb       7
1  ene       6
2  mar       8
3  abr       5

Ambos dataframes tienen una columna común ("Month") y varias filas comunes ("ene", "feb" y "mar"). Obsérvese que en df2 las filas no están ordenadas y que, en df1, el mes de enero tiene índice 0 mientras que, en df2, el mes de enero tiene índice 1.

Si aplicamos la función merge a estos dataframes con los valores por defecto, obtenemos el siguiente resultado.

In [27]:
pd.merge(df1, df2) #para los que tienen el mismo valor de columna mes en ambos dataframes

   Mes  Ventas  Costos
0  ene      14       6
1  feb       8       7
2  mar      12       8

Esos valores por defecto suponen que el join se realiza sobre las columnas comunes y tipo "inner" (considerando solo las filas con etiquetas comunes).

Si especificamos que el join sea de tipo "outer", lo que definimos con el parámetro how, el resultado considerará todas las etiquetas presentes en ambos dataframes.

In [28]:
pd.merge(df1, df2, how = "outer") #outer además agrega los meses que no coinciden

   Mes  Ventas  Costos
0  ene    14.0     6.0
1  feb     8.0     7.0
2  mar    12.0     8.0
3  may    17.0     NaN
4  abr     NaN     5.0

Se rellena con NaN's los valores inexistentes. Otras opciones para el parámetro how son "left" y "right" (además de la opción por defecto, "outer").

Por defecto, el join se realiza entre las columnas comunes. Esto es, sin embargo, controlable usando el parámetro **on** y especificando la columna o columnas a usar.

*   inner = elementos comunes
*   outer = todos los elementos
*   left = todos los registros de la 1ra tabla 
*   right = todos los registros de la 2da tabla

In [29]:
df1 = pd.DataFrame({
    "Mes": ["ene", "ene", "feb", "feb"],
    "Producto": ["A", "B", "A", "B"],
    "Ventas": [14, 8, 12, 17]
})
df1

   Mes Producto  Ventas
0  ene        A      14
1  ene        B       8
2  feb        A      12
3  feb        B      17

In [30]:
df2 = pd.DataFrame({
    "Mes": ["ene", "ene", "feb", "feb"],
    "Producto": ["A", "B", "A", "B"],
    "Costo": [7, 6, 8, 5]
})
df2

   Mes Producto  Costo
0  ene        A      7
1  ene        B      6
2  feb        A      8
3  feb        B      5

Hay dos columnas comunes, lo que supone que el resultado de un merge por defecto sería el siguiente:

In [31]:
pd.merge(df1, df2) #agrega por las columnas

   Mes Producto  Ventas  Costo
0  ene        A      14      7
1  ene        B       8      6
2  feb        A      12      8
3  feb        B      17      5

Es decir, para cada combinación de Mes-Producto se añadirían los valores de los campos de ventas y costo. Si se quiere que el join se realice solo por uno de los campos, Producto, por ejemplo, bastaría con especificarlo con el parámetro on.

In [32]:
pd.merge(df1, df2, on = "Producto") #Si es el mismo nombre en ambas columnas, solo señalarlo con la opción on

  Mes_x Producto  Ventas Mes_y  Costo
0   ene        A      14   ene      7
1   ene        A      14   feb      8
2   feb        A      12   ene      7
3   feb        A      12   feb      8
4   ene        B       8   ene      6
5   ene        B       8   feb      5
6   feb        B      17   ene      6
7   feb        B      17   feb      5

Además del campo utilizado para realizar el join ("Producto"), al existir un campo común a ambos dataframes ("Mes") que no se desea usar para el join, pandas añade un sufijo (configurable) a este campo en ambas tablas para poder diferenciarlo.

También podría ocurrir que ambos dataframes no tuviesen columnas comunes (columnas con el mismo nombre) pero que, aun así, quisiéramos realizar el join por algunas de ellas. Por ejemplo:

In [33]:
df1 = pd.DataFrame({
    "Mes": ["ene", "feb", "mar", "may"],
    "Ventas": [14, 8, 12, 17]
})
df1

   Mes  Ventas
0  ene      14
1  feb       8
2  mar      12
3  may      17

In [34]:
df2 = pd.DataFrame({
    "NombreMes": ["feb", "ene", "mar", "abr"],
    "Costos": [7, 6, 8, 5]
})
df2

  NombreMes  Costos
0       feb       7
1       ene       6
2       mar       8
3       abr       5

Al no haber columnas comunes, la ejecución de la función merge devolvería un error. En este caso podemos usar los parámetros **left_on** y **right_on** para especificar el campo a usar en la tabla de la izquierda del join y en la de la derecha, respectivamente.

In [35]:
pd.merge(df1, df2, left_on = "Mes", right_on = "NombreMes") #cuando los nombres en las tablas de cruce son distintos. La versión más generalizada

   Mes  Ventas NombreMes  Costos
0  ene      14       ene       6
1  feb       8       feb       7
2  mar      12       mar       8

## <font color='blue'>**Join por filas**</font>

Si queremos que el join considere las filas -y no las columnas- de alguno de los dataframes para realizar el join, podemos usar los parámetros **left_index** y **right_index**.

In [36]:
df1 = pd.DataFrame({
    "Mes": ["ene", "feb", "mar", "may"],
    "Ventas": [14, 8, 12, 17]
})
df1

   Mes  Ventas
0  ene      14
1  feb       8
2  mar      12
3  may      17

In [37]:
df2 = pd.DataFrame({
    "Compras": [5, 9, 11, 2, 6]},
    index = ["ene", "feb", "mar", "abr", "may"]
)
df2

     Compras
ene        5
feb        9
mar       11
abr        2
may        6

La ejecución de la función **merge** no sería posible -devolvería un error- pues no hay columnas columnes. En este caso querríamos que para el dataframe df1 se considerase la columna "Mes" -usando el parámetro left_on- y para el dataframe df2 el índice -usando el parámetro right_index-, de la siguiente forma:

In [38]:
pd.merge(df1, df2, left_on = "Mes", right_index = True) #cuando el index de la derecha es la variable de cruce

   Mes  Ventas  Compras
0  ene      14        5
1  feb       8        9
2  mar      12       11
3  may      17        6

## <font color='green'>Actividad 1</font>

En el siguiente dataframe se guardan los datos personales de un grupo de clientes:

```
clientes = {'nombre' : ['Orlando' ,'Inés' ,'Michelle', 'Alberto', 'Esteban'],
           'apellido' : ['Figueroa' ,'Benítez' ,'Gómez', 'Riesco', 'Martínez'],
           'edad' : [30 ,21 ,29 ,22, 24]}
clientes = pd.DataFrame(clientes, columns = ['nombre', 'apellido', 'edad'])
```
En el siguiente se incluyen las transacciones:



```
facturas = {'factura_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            'cliente_id' : [3, 2, 7, 2, 7, 3, 1, 4 ,2, 3, 6, 2],
            'cantidad': [77.91, 24.36, 74.65, 19.75, 27.46, 17.13, 45.77, 81.7, 14.41, 52.69, 32.03, 12.78]}
facturas = pd.DataFrame(facturas, columns = ['factura_id', 'cliente_id', 'cantidad'])
```

Considere el dataframe llamado nuevos_clientes:



```
nuevos_clientes = pd.DataFrame({'nombre' : ['Rebeca'],
                            'apellido' : ['Rojas'],
                            'edad' : [21]},
                           columns = ['nombre', 'apellido', 'edad'])
```

1. Agregar los nuevos clientes al dataframe *clientes*.
2. Actualice los valores para los índices del dataframe *clientes*.
3. Genere un dataframe llamado *cliente_id* y agréguelo como una columna nueva a *clientes*.
4. Realice la unión de los dataframes *clientes* y *facturas* de manera que el resultado sean todos los registros almacenados.
5. Agregue al dataframe *nuevos clientes* a todos los integrantes del grupo, repita el proceso y haga el join entre clientes y facturas pero su resultado debe contener solo las filas con etiquetas comunes.

In [39]:
#Solución

clientes = {'nombre' : ['Orlando' ,'Inés' ,'Michelle', 'Alberto', 'Esteban'],
           'apellido' : ['Figueroa' ,'Benítez' ,'Gómez', 'Riesco', 'Martínez'],
           'edad' : [30 ,21 ,29 ,22, 24]}
clientes = pd.DataFrame(clientes, columns = ['nombre', 'apellido', 'edad'])

facturas = {'factura_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            'cliente_id' : [3, 2, 7, 2, 7, 3, 1, 4 ,2, 3, 6, 2],
            'cantidad': [77.91, 24.36, 74.65, 19.75, 27.46, 17.13, 45.77, 81.7, 14.41, 52.69, 32.03, 12.78]}
facturas = pd.DataFrame(facturas, columns = ['factura_id', 'cliente_id', 'cantidad'])

nuevos_clientes = pd.DataFrame({'nombre' : ['Rebeca'],
                            'apellido' : ['Rojas'],
                            'edad' : [21]},
                           columns = ['nombre', 'apellido', 'edad'])

clientes

     nombre  apellido  edad
0   Orlando  Figueroa    30
1      Inés   Benítez    21
2  Michelle     Gómez    29
3   Alberto    Riesco    22
4   Esteban  Martínez    24

In [40]:
#Solución 1

#clientes=pd.concat([clientes,nuevos_clientes],ignore_index=False)
clientes=pd.concat([clientes,nuevos_clientes]) #por defecto ignora index
#clientes.reset_index(drop=True)
clientes = clientes.reset_index()
clientes.drop(['index'], axis=1, inplace=True)
clientes

     nombre  apellido  edad
0   Orlando  Figueroa    30
1      Inés   Benítez    21
2  Michelle     Gómez    29
3   Alberto    Riesco    22
4   Esteban  Martínez    24
5    Rebeca     Rojas    21

In [41]:
#Solución 2

id_cliente = {'cliente_id' : [1,2,3,4,5,6]}
id_cliente = pd.DataFrame(id_cliente, columns = ['cliente_id'])

clientes['cliente_id'] = id_cliente
clientes.set_index(['cliente_id'], inplace=True)
clientes

              nombre  apellido  edad
cliente_id
1            Orlando  Figueroa    30
2               Inés   Benítez    21
3           Michelle     Gómez    29
4            Alberto    Riesco    22
5            Esteban  Martínez    24
6             Rebeca     Rojas    21

In [42]:
#Solución 3
clientes.reset_index(inplace=True)
clientes

   cliente_id    nombre  apellido  edad
0           1   Orlando  Figueroa    30
1           2      Inés   Benítez    21
2           3  Michelle     Gómez    29
3           4   Alberto    Riesco    22
4           5   Esteban  Martínez    24
5           6    Rebeca     Rojas    21

In [43]:
#Solución 4
#clientes_facturas=pd.merge(clientes,facturas,left_on='cliente_id',right_on='cliente_id')
#clientes_facturas

clientes_facturas=pd.merge(clientes,facturas, on='cliente_id')
clientes_facturas

   cliente_id    nombre  apellido  edad  factura_id  cantidad
0           1   Orlando  Figueroa    30           7     45.77
1           2      Inés   Benítez    21           2     24.36
2           2      Inés   Benítez    21           4     19.75
3           2      Inés   Benítez    21           9     14.41
4           2      Inés   Benítez    21          12     12.78
5           3  Michelle     Gómez    29           1     77.91
6           3  Michelle     Gómez    29           6     17.13
7           3  Michelle     Gómez    29          10     52.69
8           4   Alberto    Riesco    22           8     81.70
9           6    Rebeca     Rojas    21          11     32.03

In [44]:
#Solución 5

nuevos_clientes2 = pd.DataFrame({'nombre' : ['Macarena','Rodrigo','Ruben','Carlos','Eduardo','Ronny'],
                            'apellido' : ['Hernández','Molina','Miranda','Saquel','Arancibia','Muñoz'],
                            'edad' : [25, 20, 22, 21, 24, 23]},
                           columns = ['nombre', 'apellido', 'edad'])

clientes_final=pd.concat([clientes,nuevos_clientes2])
#clientes_final = clientes_final.reset_index()
#clientes.drop(['index'], axis=1, inplace=True)
clientes_final.reset_index(drop=True, inplace=True)

id_cliente = {'cliente_id' : [x for x in range(1,len(clientes_final)+1)]}
id_cliente = pd.DataFrame(id_cliente, columns = ['cliente_id'])
clientes_final['cliente_id'] = id_cliente
clientes_final

    cliente_id    nombre   apellido  edad
0            1   Orlando   Figueroa    30
1            2      Inés    Benítez    21
2            3  Michelle      Gómez    29
3            4   Alberto     Riesco    22
4            5   Esteban   Martínez    24
5            6    Rebeca      Rojas    21
6            7  Macarena  Hernández    25
7            8   Rodrigo     Molina    20
8            9     Ruben    Miranda    22
9           10    Carlos     Saquel    21
10          11   Eduardo  Arancibia    24
11          12     Ronny      Muñoz    23

In [45]:
#otra solución
clientes_final02=pd.concat([clientes,nuevos_clientes2])
clientes_final02.drop(columns=['cliente_id'], axis=1, inplace=True)
clientes_final02.reset_index(drop=True, inplace=True)
clientes_final02.reset_index(inplace=True)
clientes_final02['index'] +=1
clientes_final02.rename(columns={"index": "cliente_id"}, inplace=True)
clientes_final02

    cliente_id    nombre   apellido  edad
0            1   Orlando   Figueroa    30
1            2      Inés    Benítez    21
2            3  Michelle      Gómez    29
3            4   Alberto     Riesco    22
4            5   Esteban   Martínez    24
5            6    Rebeca      Rojas    21
6            7  Macarena  Hernández    25
7            8   Rodrigo     Molina    20
8            9     Ruben    Miranda    22
9           10    Carlos     Saquel    21
10          11   Eduardo  Arancibia    24
11          12     Ronny      Muñoz    23

<font color='green'>Fin Actividad 1</font>